/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

/* common  style  or utilities*/
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding:30px;
    border: 10px;
    margin-Top: 20px;
}
main{
    display: flex;
    flex-direction: column;
   align-items: center;
}
body{
font-family: 'Poppins', sans-serif;
background: #E5E5E5;
}
/* top players style */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px;
  
}
.top-players{
    margin-bottom: 30px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.player{
    display:flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    font-size: 18px;
    margin-left:16px;
}


/*---------------------- 
-------Top blog Style 
----------------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:30px;
}
.blog .thumbnail img{
         width: 177px;
        height: 117px;
}
.blog{
    display: flex;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size:20px;
}
.blog-author{
font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
text-decoration: none;
font-size: 16px;
color: #562EFF;
}

/*-------------- 
courses style 
----------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:30px;
}
.course{
    height:270px;
    width:250px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.08);
    border-radius:3%;
}
.course-duration{
    background-color:#E5E5E5;
    color: #FF4A60;
    padding:  3px;
    border-radius: 100px;
    margin-right:  4px;
    margin-bottom: 3px;
}
.course .course-banner img{
    width: 224px;
    height:104px;
}
.course-info{
    display: flex;
    justify-content: space-between;
}
.fa-star{
    font-size:12px;
}
.fa-star.empty{
    color:#AEAEAE;
}
.fa-star.filled{
    color: #ffC014;
}

/*---------------------
 Media queries
--------------------- */

/*------------------------
 media queries for mobile devices
---------------------- */
@media  only screen and (max-width: 768px) {  
    .players ,.blogs ,.courses{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    } 
    .course{
        margin-bottom:30px;
    } 
    .player ,.blog{
        flex-direction: column;
    }
    .container{
        width: 100%;
        
    }
     
}

/*--------------
 tablet devices for media queries
-------------- */

@media only screen and (min-width: 688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .top-players{
        
        grid-template-columns: repeat(2 ,1fr);

    }
    
}